* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* define rem */
    font-size: 14px;
    font-family: "Helvetica";
}

body {
    padding: 6px;
}

span {
    display: block;
}

aside {
    display: inline-block;
    margin-right: 6px;
}

section {
    background-color: #f3f3f3;
    padding: 12px;
    padding-right: 24px; /* leave space for paragraph number */
    margin-bottom: 6px;
    position: relative;
}

h2 {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 2rem;
    opacity: 0.2;
    margin-bottom: 12px;
}

article img {
    border: 1px solid black;
}

button {
    padding: 6px 12px;
    margin-bottom: 6px;
    background-color: lightgreen;
    border: 0;
    border-radius: 6px;
}

button a {
    text-decoration: none;
    color: black;
}

/* REPORT */
main {
    max-width: 150px;
    margin-top: 12px;
}

main section {
}

main figure {
    font-size: 2rem;
    margin-top: 6px;
}

main span {
}
